{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié!{% endblock %}

{% block body %}
    <form method="post">
        <br>

        <h1 class="h3 mb-3 font-weight-normal text-center">Mot de passe oublié</h1>
        <br>
        <div class="offset-md-4 col-md-4">
        <label for="inputEmail" class="sr-only">Email</label>

        <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email" required autofocus>
            <br>
            <div class="text-center">
                <br>
        <button class="btn btn-lg btn-primary" type="submit">
            Envoyer email !
        </button>
            </div>
        </div>
    </form>
{% endblock %}
