{% extends 'base.html.twig' %}

{% block title %}Réinitialisation mot de passe{% endblock %}

{% block body %}
    <form method="post" action="{{ path('app_reset_password', {'token':token}) }}">

        <h1 class="h3 mb-3 font-weight-normal text-center">Réinitialisation du mot de passe</h1>
        <label for="inputPassword" class="sr-only">Mot de passe</label>
        <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>

        <button class="btn btn-lg btn-primary" type="submit">
            Valider
        </button>
    </form>
{% endblock %}
