{% extends 'base.html.twig' %}

{% block title %}Réinitialiser mot de passe!{% endblock %}

{% block body %}
    <form method="post" action="{{ path('app_reset_password', {'token':token}) }}">
        <br>

        <h1 class="h3 mb-3 font-weight-normal text-center">Réinitialiser mot de passe</h1>
        <br>
        <div class="offset-md-4 col-md-4">
        <label for="inputPassword" class="sr-only">Mot de passe</label>
        <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
            <br>
            <div class="text-center">
        <button class="btn btn-lg btn-outline-primary" type="submit">
            Enregistrer
        </button>
            </div>
        </div>
    </form>
{% endblock %}
