{% extends 'base.html.twig' %}

{% block title %}Réinitialisation mot de passe{% endblock %}

{% block body %}
    <form method="post" action="{{ path('app_reset_password', {'token':token}) }}">

<<<<<<< HEAD
        <h1 class="h3 mb-3 font-weight-normal">réinitialiser mot de passe</h1>
=======
        <h1 class="h3 mb-3 font-weight-normal text-center">Réinitialisation du mot de passe</h1>
>>>>>>> a9067bc0e6e5b6d7336efd79865e38c8f2f9c2d8
        <label for="inputPassword" class="sr-only">Mot de passe</label>
        <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>

        <button class="btn btn-lg btn-primary" type="submit">
<<<<<<< HEAD
            Enregistrer
=======
            Valider
>>>>>>> a9067bc0e6e5b6d7336efd79865e38c8f2f9c2d8
        </button>
    </form>
{% endblock %}
