{% extends "base.html.twig" %}
{% block title %}Données personnelles{% endblock %}
{% block body %}
<br>
<br>
    <div class="ml-5  mr-5">
<h1 class="text-center">Protection des données personnelles</h1>
<br>
<br>
<p class="text-justify">Eni école s’engage, dans le cadre de ses activités et conformément à la législation en vigueur en France et en Europe, à assurer la protection, la confidentialité et la sécurité des données à caractère personnel des utilisateurs de ses services, ainsi qu’à respecter leur vie privée.</p>
<p class="text-justify">La présente Politique vous informe sur la façon dont Eni école, ses sous-traitants et ses éventuels partenaires traitent vos données personnelles.</p>
<p class="text-justify">Cette Politique est notamment applicable aux clients et utilisateurs des offres et services et aux visiteurs des sites eni-sortir.fr et eni-ecole.fr.</p>
<p class="text-justify">Elle est susceptible d’être complétée par des informations spécifiques portées à la connaissance de l’utilisateur, s’agissant d’une offre ou d’un service particulier.</p>
</div>
{% endblock body %}