{% extends "base.html.twig" %}
{% block title %}Infos légales{% endblock %}
{% block body %}
    <br>
    <br>
    <div class="ml-5 mr-5">
    <h1 class="text-center">Informations légales</h1>

    <h4 class="text-center font-italic">Eni Ecole</h4>
    <br>

        <p class="text-justify">Editeur :</p>
        <p class="text-justify">ANSA sarl - 3, rue Franklin 44800 Saint-Herblain</p>
        <br>
        <p class="text-justify">Hébergement :</p>
        <p class="text-justify">Eni Ecole</p>
        <br>
        <p class="text-justify">service client :</p>
        <p class="text-justify">Eni Ecole - 3, rue Franklin 44800 Saint-Herblain</p>
    </div>
{% endblock body %}
