{% extends "base.html.twig" %}
{% block body %}
    <br>
    <br>
    <H1 class="text-center">Informations légales</H1>

    <h4 class="text-center">Eni Ecole</h4>
    <br>
    <div class="offset-1">
        <p class="text-justify">Editeur :</p>
        <p class="text-justify">ANSA sarl - 3, rue Franklin 44800 Saint-Herblain</p>
        <br>
        <p class="text-justify">Hébergement :</p>
        <p class="text-justify">Eni Ecole</p>
        <br>
        <p class="text-justify">service client :</p>
        <p class="text-justify">Eni Ecole - 3, rue Franklin 44800 Saint-Herblain</p>
    </div>
{% endblock body %}
