{% extends "base.html.twig" %}
{% block body %}
    <br>
    <br>
    <H1 class="text-center">Les questions fréquentes</H1>
    <br>
    <br>
    <div class="text-center">
    <p>Vraiment vous avez des soucis à utiliser ce site? Il est si simple d'utilisation.</p>
    <p>Allez, un petit effort !</p>
    <img height="400" src="{{ asset('build/images/faq.jpg') }}">
    </div>
{% endblock body %}