{% extends "base.html.twig" %}
{% block title %}F.A.Q.{% endblock %}
{% block body %}
    <br>
    <br>
    <div class=" ml-5 mr-5 text-center">
    <h1>Les questions fréquentes</h1>
    <br>
    <br>
        <p>Vraiment vous avez des soucis à utiliser ce site? Il est si simple d'utilisation.</p>
        <p>Allez, un petit effort !</p>
    </div>
    <div class="text-center">
        <img height="300" src="{{ asset('build/images/faq.jpg') }}">
    </div>
{% endblock body %}