{% extends "base.html.twig" %}
{% block title %}Contact{% endblock %}
{% block body %}
    <br>
    <br>
    <H1 class="text-center">Contact</H1>
    <br>
    <br>
    <div class="offset-1 mr-5">
        <p class="text-center">Un soucis ? N'hésitez pas à nous contacter à cette adresse :</p>
        <div class="text-center">
            <a href="mailto:contact@eni-ecole.fr">contact@eni-ecole.fr</a>
        </div>
    </div>
{% endblock body %}